.highriskshopcryptogateway-payment-method-wrapper {
    display: flex;
    align-items: center;
}

.highriskshopcryptogateway-payment-method-wrapper img {
    display: flex;
    width: 100%;
}